* {
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Epilogue';
    font-style: normal;
}

body{
    overflow-x: hidden;
    font-family: "Epilogue", sans-serif;
    font-style: normal;
}

/* -------- HELPERS --------*/
.flex{
    display: flex !important;
}
.center{
    align-items: center !important;
}
.no-padding{
    margin: 0 !important;
    padding: 0 !important;
}
.c-white{
    color: white !important;
}
.f-white{
    filter: brightness(0) invert(1);
}


.container{
    background-color: aliceblue;
}

navbar{
    left: 0%;
    right: 0%;
    top: 0px;

    background: #010032;
    border-radius: 0px;

    color: white;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 25px 15px;
}

.nav-link > li{
    float: left;
    display: block;
    
    text-align: center;
    padding: 16px;
    text-decoration: none;
} 

.nav-menu{
    display: flex;
    align-items: center;
}

main{
    color: white;
}

section{
    height: auto;
    padding: 100px 50px;
}

.section-container{
    width: 1280px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.section-container > div{
    padding: 50px;
}



p.title{
    font-weight: 400;
    font-size: 65px;
    line-height: 72px;
}

p.subtitle{
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
}

.a-center{
    align-self: center;
}


.section-slider{
    height: 770px;
    background: #010032;
    color: #fff;
    padding: 0;
}

.section-slider > div > .section-left{
    align-self: center;
    padding: 2rem;
}

.hire-me{
    padding: 20px 50px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 32px;
    display: flex;

    justify-content: center;
    align-items: center;

    margin: 50px 0;
}

.award{
    display: flex;
    align-items: center;
    padding-top: 50px;
}
.award-text{
    padding-left: 20px;
}
.award-text > .title{
    padding: 5px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}
.award-text > .subtitle{
    padding: 5px;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
}

.section-about{
    background: #fff;
    color: #000;
}

.section-about > div > .section-right > .title{
    font-weight: 400;
    font-size: 48px;
    line-height: 54px;
}
.float-title{
    padding: 20px;
    padding-bottom: 100px;
}
.float-title > p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    padding-left: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #4543E8;
}
.star > img{
    margin: 5px;
}
.comment > p{
    padding-top: 15px;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
}
.user{
    padding-top: 25px;
}





.stats{
    display: flex;
    justify-content: space-around;
    padding: 4em 0;
}

.stat{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.stat > .title{
    font-weight: 400;
    font-size: 60px;
    line-height: 66px;
    color: #4543E8;
}
.stat > .subtitle{
    font-weight: 400;
    font-size: 21px;
    line-height: 31px;
    color: #000000;
}

.brands{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.section-work{
    background: #fff;
    color: #000;
}

.section-work > div > div > .title{
    font-size: 60px;
    line-height: 66px;
}

.section-services{
    background: #010032;
    color: #fff;
}

.section-services > div > div{
    display: flex;
    flex-direction: column;
}

.section-services > div > div > .title{
    font-size: 48px;
    line-height: 54px;
}

.service{
    padding: 50px 0;
}

.service > .image{
    padding: 2px;
}

.service > .title{
    font-size: 24px;
    line-height: 30px;
    padding: 25px 0;
}

.service > .subtitle{
    font-size: 18px;
    line-height: 28px;
}

.service-bottom{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.service-bottom > img{
    padding: 20px;
}

.start-project{
    padding: 20px 80px 20px 40px;
    border-radius: 25px;
    margin-bottom: 30px;
    align-self: start;
}

.section-testiominals {
    background: #D8D8EB;
    color: #000;
}